# Large bioinformatics data
*.rds
*.RDS
*.loom
*.h5
*.hdf5
*.csv.gz
*.tsv.gz

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
# AnnData / Scanpy files
*.h5ad

# Matrix Market files
*.mtx
*Metadata*.txt